#menu
{
    height: 100%;

    background: #071f33; /* Old browsers */
    background: -moz-linear-gradient(top,  #071f33 1%, #120738 35%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#071f33), color-stop(35%,#120738), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #071f33 1%,#120738 35%,#000000 100%);
    background: -o-linear-gradient(top,  #071f33 1%,#120738 35%,#000000 100%);
    background: -ms-linear-gradient(top,  #071f33 1%,#120738 35%,#000000 100%);
    background: linear-gradient(to bottom,  #071f33 1%,#120738 35%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071f33', endColorstr='#000000',GradientType=0 );

    z-index: 20;
    color: white;
}
#menu .float-content
{
    padding-top: 20px;

    height: 99%;
    max-height: 750px;
    background: #000000 url("../img/ship.jpg") top center no-repeat;

    /*
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 20px rgba(7, 31, 51, 0.9) inset;
    */
}

#button-play
{
    width: 500px;
    height: 75px;

    background-color: rgba(7, 31, 51, 0.5);
    border-top: 2px solid #666699;

    font-size: 1.5em;
    color: #EEEEFF;

    margin: 5px;
    padding: 5px;
    border: 2px solid #666699;
    border-radius: 5px;
}
#button-play:hover
{
    background-color: rgba(7, 31, 51, 0.8);
}

#menu .tab-container button
{
    width: 300px;
    height: 50px;

    background-color: rgba(7, 31, 51, 0.5);

    font-size: 1.5em;
    color: #EEEEFF;

    margin: 0px;
    padding: 5px;
    border-top: 2px solid #666699;
    border-left: 2px solid #666699;
    border-right: 2px solid #666699;
    border-bottom: 0px;
}
#menu .tab-container button.active
{
    background-color: rgba(7, 31, 51, 0.8);
}
#menu .tab-container button:hover
{
    background-color: rgba(7, 31, 51, 0.3);
}

.info-area
{
    background-color: rgba(7, 31, 51, 0.5);
    height: 382px;
    max-height: 382px;
    margin-bottom: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

#instructions
{

}

#credits
{

}
