#stats
{
    position: absolute;
    top: 0;
    left: 0;
}

#debug
{
    z-index: 5;
    text-align: right;
    color: white;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
